{% extends "base.html" %}

{% block titulo %} Reservas {% endblock %}

{% block contenido %} 

{% if group.name == "trabajadores" %}
{% endif %}<br>



<div class="row offset-md">

    <div class="col-sm-6 col-md-4 col-lg-3">

        {% for reserva in reservas %}
        <!-- TARJETA -->
        <div class="card border-0" id="tarjetas">
              <img src="/imagenes/fldsmdfr.jpg" class="card-img-top" style="width:100px;" >
            <div class="card-body">
              <h5 class="card-title">ID reserva: {{ reserva.reserva_id }} </h5>
              <h5 class="card-title">Cliente: {{ reserva.reserva_cliente.cliente_nombreCliente }} </h5>
              <details>
                <summary>Servicios implicados</summary>
                <p> {{ reserva.reserva_servicios }} </p>
            </details>

            <details>
                <summary>Promociones implicadas</summary>
                <p> {{ reserva.reserva_promos }} </p>
            </details>
              <h6 class="card-title">Fecha: {{ reserva.reserva }}</h6>
              <h6 class="card-title">Precio total de la reserva: ${{ reserva.reserva_precioTotal }} </h6>
  
            <a href="" class="btn  border-0"><i class="fa-solid fa-cart-shopping" aria-hidden="true"></i> Reservar </a>
            </div>
        </div> <br>
        <!-- tarjeta fin -->
        {% endfor %}

    </div>

</div>


{% endblock %}