{% extends "base.html" %}

{% block titulo %} Servicios {% endblock %}

{% block contenido %} 
{% for servicio in servicios %}
<div class="row offset-md">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card border-0" id="tarjetas">
            <div class="card-body">
                <img src="{{ servicio.servicio_imagenes.url }}" class="card-img-top" style="width:100px;" alt="...">
                <h5 class="card-title">{{ servicio.servicio_descripcion }}</h5>
                <h6 class="card-title">Precio: ${{ servicio.servicio_precio }}</h6>
                <p class="card-text">Horario: {{ servicio.servicio_bh }} hrs</p>
                <a href="#" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

