{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 


<section class="hero bg-info text-white text-center py-5">
    <h1>Bienvenido a Nuestro Spa</h1>
    <p>Relájate, disfruta y rejuvenece con nuestros exclusivos servicios.</p>
    <a href="/reservaciones/" class="btn btn-light btn-lg">Haz tu Reserva</a>
</section>

<section class="container text-center my-5">
    <h2>Nuestros Servicios Destacados</h2>
    <p>Disfruta de una experiencia única con nuestros tratamientos de spa.</p>
    <div class="row">
        <div class="col-md-4">
            <h3>Masaje Relajante</h3>
            <p>Un masaje que te ayudará a liberar el estrés.</p>
        </div>
        <div class="col-md-4">
            <h3>Facial Hidratante</h3>
            <p>Tratamiento facial ideal para la piel seca.</p>
        </div>
        <div class="col-md-4">
            <h3>Manicura y Pedicura</h3>
            <p>Relájate mientras cuidas tus manos y pies.</p>
        </div>
    </div>
</section>
{% endblock %}