{% extends "base.html" %}

{% block titulo %}Gestión de Promociones{% endblock %}

{% block contenido %}
<h1>Gestión de Promociones</h1>
<a href="{% url 'crear_promocion' %}" class="btn btn-primary">Crear Nueva Promoción</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Descuento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for promocion in promociones %}
        <tr>
            <td>{{ promocion.promocion_id }}</td>
            <td>{{ promocion.promocion_descripcion }}</td>
            <td>${{ promocion.promocion_precio }}</td>
            <td>
                <a href="{% url 'editar_promocion' promocion.promocion_id %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'eliminar_promocion' promocion.promocion_id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

