{% extends "base.html" %}

{% block titulo %} Servicios - Trabajadores {% endblock %}

{% block contenido %} 
<div class="card-header"><br><a name="" id="" class="btn btn-success" href="{% url 'c_servicio' %}" role="button">Nuevo Servicio</a>
</div>
{% for servicio in servicios %}
<div class="row offset-md">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

        <div class="card border-0" id="tarjetas">

            <div class="card-body">
              <img src="" class="card-img-top" style="width:100px;" alt="...">
              <h5 class="card-title"> ID Servicio: {{ servicio.servicio_id }} </h5>
              <h5 class="card-title">Precio: ${{ servicio.servicio_precio }}</h5>
              <h6 class="card-title">Descripción: ${{ servicio.servicio_descripcion }}</h6>
              <h5 class="card-title">Bloque horario: {{ servicio.servicio_bh }} hrs</h5>
              <h5 class="card-title">Imágenes: {{ servicio.servicio_imagenes}}</h5>
  
            <a href="productos.html#Saga3-2" class="btn  border-0"><i class="fa-solid fa-cart-shopping" aria-hidden="true"></i> $5.990</a>
            <br> <a href="productos.html#Saga3-all" class="btn  border-0 end" "="">Ver toda la saga</a>
            </div>
        </div>

    </div>

</div>
{% endfor %}















<div class="card mt-5">
    <div class="card-header"><a name="" id="" class="btn btn-success" href="{% url 'c_servicio' %}" role="button">Nueva Promoción</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descrición</th>
                        <th scope="col">Fecha Publicacion</th>
                        <th scope="col">Acciones</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros%}
                    <tr class="">
                        <td scope="row">{{libro.libro_id}}</td>
                        <td>{{libro.libro_nombre}}</td>
                        <td><img src="{{libro.libro_imagen.url}}" height="100"></td>
                        <td>{{libro.libro_descripcion}}</td>
                        <td>{{libro.libro_fecha_publicacion}}</td>
                        <td>
                            <a name="" id="" class="btn btn-warning" href="{% url 'u_promo'%}" role="button">Editar</a>
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer text-muted">Hola...</div>
</div>

{% endblock %}