{% extends "base.html" %}

{% block titulo %} Servicios - Trabajadores {% endblock %}

{% block contenido %} 

{% if group.name == "trabajadores" %}
<div class="card-header"><br><a name="" id="" class="btn btn-success" href="{% url 'c_servicio' %}" role="button">Nuevo Servicio</a>
</div>
{% endif %}<br>


{% for servicio in servicios %}
<div class="row offset-md">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

        <!-- TARJETA -->
        <div class="card border-0" id="tarjetas">
              <img src="/imagenes/fldsmdfr.jpg" class="card-img-top" style="width:100px;" >
            <div class="card-body">
              <h5 class="card-title">ID Servicio: {{ servicio.servicio_id }} </h5>
              <h5 class="card-title">Descripción: {{ servicio.servicio_descripcion }}</h5>
              <h6 class="card-title">Fecha: {{ servicio.servicio_bh.bh_dia }}</h6>
              <h6 class="card-title">Hora: {{ servicio.servicio_bh.bh_hora_inicio }} - {{ servicio.servicio_bh.bh_hora_inicio }} hrs.</h6>
              <h6 class="card-title">Precio: ${{ servicio.servicio_precio }} </h6>
  
            <a href="" class="btn  border-0"><i class="fa-solid fa-cart-shopping" aria-hidden="true"></i> Reservar </a>
            </div>
        </div> <br>
        <!-- tarjeta fin -->
    </div>

</div>
{% endfor %}
















{% endblock %}